.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse at top, #e66465, transparent),
    radial-gradient(ellipse at bottom, #4d9f0c, transparent);
    list-style: none;
    margin: 0;

    &__item {
        padding: 12px;
        cursor: pointer;
        text-decoration: none;
    }

    a {
        text-decoration: none;
        color: black;
    }
}
